/* General Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:none;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    text-shadow: #000 -1px -1px 1px;
    background-color: #DB8606;
    color: #FFF;
    border:1px solid #666;
    font-weight:bold;
    cursor:pointer;
}

.redbutton {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    text-shadow: #000 -1px -1px 1px;
    background-color: #FF5555;
    color: #FFF;
    border:1px solid #666;
    font-weight:bold;
    cursor:pointer;
}

.bluebutton {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    text-shadow: #000 -1px -1px 1px;
    background-color: #7755FF;
    color: #FFF;
    border:1px solid #666;
    font-weight:bold;
    cursor:pointer;
}

ol, ul {
	list-style-type:none;
}

h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}

blockquote, q {
	quotes:none;
}

q:before, q:after {
	content:"";
}

input, textarea, select {
	font:12px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}

textarea {
	overflow:auto;
	resize:none;
}

body {
	margin:0px;
	padding:0px;
	font-size:13px;
	line-height:21px;
	color:#2A2B27;
	background-color:#fefeda;
	font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size:33px;
	margin-bottom:15px;
}

h2 {
	font-size:25px;
	margin-bottom:15px;
}

h3 {
	font-size:18px;
	margin-bottom:15px;
}

h4 {
	font-size:16px;
	margin-bottom:15px;
}

h5 {
	font-size:14px;
	margin-bottom:15px;
}

h6 {
	font-size:12px;
	margin-bottom:15px;
}

	/*  links
	******************************/
	a {color: #516322;text-decoration: underline;}
	a:hover {color: #516322;text-decoration: none;}

	/*  superscript and subscript
	******************************/
	sup, sub {vertical-align: baseline;position: relative;top: -0.4em;}
	sub { top: 0.4em; }
	
	/*  lists
	******************************/
	ul, ol {padding:0;margin:0;}
	ul li {list-style-type:disc;}
	ol li {list-style-type:decimal;}
	ul li,
	ol li {font-size: 10px; line-height: 16px;margin: 0 0 10px 15px;}

	/*  tables
	******************************/
	table, th, td {border:0px solid #BBBBBB;}
	th {padding:3px; font-weight:bold;color:#5c5a45;}
	tr {margin:0 0 5px 0;padding:3px;}
	td {padding:5px;margin:0 1px;}
	
	/*  horizontal lines
	******************************/
	hr {border-bottom: 1px solid #BDBDC5;margin:5px 0;padding:0;height:2px;width:100%; margin-bottom:10px;}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}

#headertable table {
	border: none;
	
}

#wrapper {
	width:100%;
	margin:10 auto;
	padding:10px 10 0px 0;
}

/*----start header----*/
#header {
	padding:0px 0px 5px;
}

#header .top_banner{
	background:url(../images/header.jpg) left top;
	height:50px;
	padding:0 0 0 0;
	border:#6E6065 solid 1px;
}

#header h1{
	font-size:34px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
	color:#1FFF89;
	margin:0px;
	font-weight:normal;
	padding:0px 0px 10px;
}

#header h1 a {
	color:#2F1B09;
	text-decoration: none;
}

#header h1 a:hover {
	text-decoration: none;
}

#header p{
	font-size:18px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
	margin-left:2px;
	color:#2F1B09;
}

.navigation{
	margin:0px 0px 0px;
	padding:5px 5px;
	border:#BBBFB4 solid 1px;
	background: #ECF0EC;
}

.navigation ul{
	margin:0px;
	padding:0px;
}

.navigation ul li{
	margin:0px;
	padding:0px 32px;
	display:inline;
	font-size:12px;
	list-style-type:none;
	border-right:#91969a dotted 2px;
}

.navigation ul li a{
	color:#03314b;
	text-decoration:none;
}

.navigation ul li a:hover{
	text-decoration:underline;
}

.navigation ul li:last-child {
	border-right:none;
}
/*----end header----*/


/*----start page content----*/


#inShelf{
	background-color: #aaa;
}


#page_content{
	background:#FFFFFF;
	padding:5px;
	border:#B1B1B1 solid 1px;
}

#page_content .right_section{
	width:100%;
	float:right;
	padding:5px 5px;
	margin-left:20px;
}

#page_content .right_section .top_content{
	padding:5px 5px 5px 5px;
	margin-left:5px;
}

#page_content .right_section .top_content .column_one{
	width:295px;
	float:left;
	margin-bottom:5px;
	margin-left:5px;
}


#page_content .right_section .top_content .column_two{
	width:100%;
	float:right;
	margin-bottom:5px;
}

a.btn{
	color:#454546;
	background:#FAEFE3;
	font-size:12px;
	text-decoration:none;
	padding:7px 15px 7px 15px;
	font-weight:bold;
	display:inline-block;
	border:#A4AD8D solid 1px;
}

a.btn:hover{
	text-decoration:underline;
}

.common_content{
	padding:10px 10px 10px 20px;
}

.border_left{
	border-left:#cacfbb dotted 1px;
	padding-left:5px;
}

.border_none{
	border:none!important;
	margin:0px!important;
}

.left_side_bar{
	width:210px;
	float:left;
}

.left_side_bar h1{
	font-size:18px;
	padding:0 0 0 35px;
	margin-bottom:15px;
	color:#1b0400;
	background:url(../images/arrow.png) no-repeat 10px center;
}

.left_side_bar .col_1{
	padding:15px 5px 15px 10px;
	margin-bottom:20px;
	border:#DCCFBE solid 2px;
}

.left_side_bar .col_1 .box{
	padding:5px 11px 5px;
}

.left_side_bar .col_1 .box ul{
	margin:0px;
	padding:0px;
}

.left_side_bar .col_1 .box ul li{
	margin:0px 0px 8px;
	padding:0px 0px 0px 20px;
	font-size:13px;
	list-style-type:none;
	background:url(../images/li.png) no-repeat left center;
}

.left_side_bar .col_1 .box ul li a{
	color:#364b38;
	text-decoration:underline;
}

.left_side_bar .col_1 .box ul li a:hover{
	color:#364b38;
	text-decoration:none;
}

.nobr {
	white-space: nowrap;
}
/*----end page content----*/


/*----start footer content----*/
#footer{
	clear:both;
	margin-top:18px;
	padding:15px 0 12px 0;
	height:22px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	background-color:#E4E1DF;
	border:#7171AE dotted 1px;
}

#footer a{
	color: #404E51;
	text-decoration:underline;
}

#footer a:hover{
	color: #404E51;
	text-decoration:none;
}

#infomessage, #warnmessage, #errormessage , #bluemessage, #redmessage{
    margin-bottom: 1.5em;
    padding: 0.3em;
    font-weight: bold;
    border-top: 1px solid;
    border-bottom: 1px solid;
}


#infomessage {
  background-color: #390;
  border-color: #390;
  color: #390;
  background: #CFC;
}

#bluemessage {
  background-color: #7777AA;
  border-color: #390;
  color: black;
  background: #CCF;
}

#redmessage {
  background-color: fuchsia;
  border-color: fuchsia;
  color: black;
  background: #FDD;
}


#errormessage {
    border-color: #903;
    background-color: #fcc;
    color: #903;
}

#warnmessage {
    border-color: #fad163;
    background-color: #fdedc1;
}

.bordertable th, .bordertable td, .bordertable tr {
	border: 1px;
	
}

/*----end footer content----*/
