

{{ template "header" . }}

  <div id="page_content">

{{ template "menu" . }}


    <div class="right_section">
      <div class="common_content">
        <h2>{{.AppName}}</h2>
        <hr>
		
{{ if .HasUpload}}		
		{{range .UploadedFiles}}
		  {{if .Filename}}
		  {{if .Success}}
		  <p id="infomessage">
		  {{else}}
		  <p id="errormessage">
		  {{end}}
		
		  {{.Filename}}: {{.Message}}
		  {{end}}
		{{end}}

{{end}}

<a href="javascript:history.back()">..Back</a>

{{if .Editing}}
<br/>
editing <b>{{.EditFileName}}</b>
<form method=post action="/gocat/app?appname={{.AppName}}">
    <input type=hidden name=editfile value="{{.EditFileName}}" >

<textarea name=content rows=15 cols=60>{{.Content}}</textarea>
<br/>
<input type=submit name=save value='Save' class="bluebutton" />
<input type=submit name=cancel value='Cancel' class=button />

</form>
{{end}}

{{if .RemoveFile}}
		<form method=post action='/gocat/app?appname={{.AppName}}'>"
		Remove <b>{{.RemoveFileName}}</b>
        <input type=hidden name=removefilename value="{{.RemoveFileName}}" >

		<input type=submit name=confirmremove value='Yes' class=redbutton />
		<input type=submit name=cancel value='Cancel' class=button />
		</form>
{{end}}
		<table>
		<tr style='background:#aaaa88;'><th>File</th><th>Edit</th><th>File Time</th>
		  <th>File Size</th><th>Delete</th></tr>
{{$name := .AppName}}		
		{{range .Files}}
		<tr>
		{{if .IsDir}}
		<td><a href="/gocat/app?appname={{$name}}/{{.FileName}}"> {{.FileName}}</a></td>  
		
		{{else}}
		  <td><a href="/gocat/download?filename={{$name}}/{{.FileName}}"> {{.FileName}}</a></td>
		{{end}}
    <td>
    {{ if .IsEdit}}
    <form method=POST action="/gocat/app?appname={{$name}}">
    <input type=hidden name=editfile value="{{.FileName}}" >
    <input type=submit name=edit value=Edit class='bluebutton' />
    </form>
    {{end}}
    </td>
		  <td>{{.FileTime}}</td>
		  <td align = right>{{.Size}}</td>
      <td>   
         <form method=POST action="/gocat/app?appname={{$name}}">
    <input type=hidden name=editfile value="{{.FileName}}" >
    <input type=submit name=remove value=Remove class="redbutton" />
    </form>
    </td>
		</tr>
		{{end}}
		</table>
        <p>
		<hr>
		<form method=POST  enctype="multipart/form-data">
		<h3>Upload file(s)</h3>
		<input type=file name="file" multiple >
		<input type=hidden name=dir value="{{.Dir}}" />
		<input type=hidden name=appname value="{{.AppName}}" />
	
		
		<input type=submit name="upload" value="Upload" class=button />
		</form>
		
		<hr>


		<h3>Upload Folder</h3>
		<form method=POST  enctype="multipart/form-data">
		<input type=file name="file" webkitdirectory mozdirectory multiple >
		<input type=hidden name=dir value="{{.Dir}}" />
		<input type=hidden name=appname value="{{.AppName}}" />
	
		<input type=submit name="upload" value="Upload" class=button />
		</form>			
  </div>

</div>

{{template "footer"}}
	
  </div>

</div>

</body></html>
