

{{ template "header" . }}

  <div id="page_content">

{{ template "menu" . }}



    <div class="right_section">
      <div class="common_content">
        <h2>{{.AppName}}</h2>
        <hr>
		
{{ if .HasUpload}}		
		{{range .UploadedFiles}}
		  {{if .Filename}}
		  {{if .Success}}
		  <p id="infomessage">
		  {{else}}
		  <p id="errormessage">
		  {{end}}
		
		  {{.Filename}}: {{.Message}}
		  {{end}}
		{{end}}

{{end}}

<a href="javascript:history.back()">..Back</a>
		<table>
		<tr style='background:#aaaa88;'><th>File</th><th>File Time</th>
		  <th>File Size</th></tr>
{{$name := .AppName}}		
		{{range .Files}}
		<tr>
		{{if .IsDir}}
		<td><a href="/app?appname={{$name}}/{{.FileName}}"> {{.FileName}}</a></td>  
		
		{{else}}
		  <td><a href="/download?filename={{$name}}/{{.FileName}}"> {{.FileName}}</a></td>
		{{end}}
		  <td>{{.FileTime}}</td>
		  <td>{{.Size}}</td>
		</tr>
		{{end}}
		</table>
        <p>
		<hr>
		<form method=POST  enctype="multipart/form-data">
		<h3>Upload file(s)</h3>
		<input type=file name="file" multiple >
		<input type=hidden name=dir value="{{.Dir}}" />
		<input type=hidden name=appname value="{{.AppName}}" />
	
		
		<input type=submit name="upload" value="Upload" class=button />
		</form>
		
		<hr>


		<h3>Upload Folder</h3>
		<form method=POST  enctype="multipart/form-data">
		<input type=file name="file" webkitdirectory mozdirectory >
		<input type=hidden name=dir value="{{.Dir}}" />
		<input type=hidden name=appname value="{{.AppName}}" />
	
		<input type=submit name="upload" value="Upload" class=button />
		</form>			
  </div>

</div>

{{template "footer"}}
	
  </div>

</div>

</body></html>
