{{ template "header" . }}

  <div id="page_content">

	<div class="left_side_bar"> 

    </div>

    <div class="right_section">
      <div class="common_content">
        <h2>Login</h2>
        <hr>
		{{if .IsInvalid}}
	  	<p id=errormessage>{{.ErrorMsg}}</p>
		{{end}}
		<form method=POST>
		<table style='border-collapse: collapse; border: none;' >
		<tr>
		  <td>Login</td>
		  <td><input type=text name=login id=login /></td>
		</tr>
		
		<tr>
		
		  <td>Password</td>
		  <td><input type="password" name="password" autocomplete="off" /></td>	
		</tr>
		<tr>
				  
		  <td><input type=submit name=submitlogin value='Login' class="button" /></td>
		</tr>
		</table>
		
			
		</form>
        <p>
	
  </div>

</div>

<script>
  document.getElementById('login').focus();
</script>

</body>
</html>
