  {{define "header"}}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GoCat</title>
<meta name="description" content="GoLan web services and web applications uploader">
<link rel="shortcut icon" href="/gocat/static/images/golang.png" />            
<link href="/gocat/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="wrapper">

  <div id="header">  

    <div class="top_banner">
	<table ><tr>
	<td><img src="/gocat/static/images/golang.png" ></td>
     <td> <h2>GoCat</h2></td>
	{{ if .Login }}
	<td></td>
	<td>User:<font color=blue>{{.Login}}</font></td>
	
	<td></td>
	<td><a href="/gocat/logout">Logout</a></td>
	{{end}}
  {{ if .Version }}
	<td>{{.Version}}</td>
  {{end}}
	</tr>
	
	</table>

    </div>

  </div>
{{end}}


  {{define "menu"}}
	<div class="navigation">
      <ul>
        <li><a href="/gocat">Home</a></li>
		<li>Linux user: {{.Linuxuser}}</li>

      </ul>
    </div>
	{{end}}
	

	{{define "footer"}}
    <div class="clear"></div>
    
    <div id="footer">Copyright &copy; 2018 2021. Developed by 
       <a href="http://www.code.sd" target="_blank">Code.sd</a><br>
	
    </div>
	{{end}}	